<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ static_url('css/org/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/monitorDetailsResult.css') }}">
    <script type="text/javascript" src="{{ static_url('js/org/jquery-2.1.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/org/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/monitorDetailsResult.js') }}"></script>
</head>
<body>
    <input type="hidden" id="fbid" value="{{ fbid }}">
    <div style="width:600px;margin:0 auto" id="resultDetailsList">

    </div>
</body>
</html>